body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
}
.container{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}
.box{
  width: 50%;
  height: 400px;
}
.epam {
  font-size: 1.8em;
  color: #fff;
  background-color: #76CDD8;
}
.description {
  display: flex;
  justify-content: center;
  align-items: center;
}
.description p{
  font-style: italic;
  font-size: 20px;
  line-height: 2em;
  width: 70%;
}
.description_button{
  flex-direction: column;

}
.description_button p{
  font-style: normal;
  font-size: 18px;
  line-height: 1.4em;
  width: 100%;
}

.description_button .button_wrap{
  align-self: flex-end;
}
img{
  width: 100%; 
}
.btn{
  cursor: pointer;
  background-color: #019999;
  border: none;
  padding: 15px 40px;
  color: white;
}
a{
  color:white;
  text-decoration: none;
}
.content{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.content h2{
  color: #76CDD8;
}