body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: #F4F4F4;
}
*{
  margin: 0;
  padding: 0;
}
.container_wrap{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.section_wrap{
  display: flex;
  flex-wrap: wrap;
}
.box{
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.first_box {
  font-size: 2.6em;
  font-weight: lighter;
  color: #fff;
  background-color: #76CDD8;
}
.second_box p{
  font-style: italic;
  font-size: 20px;
  line-height: 2em;
  width: 70%;
}
.third_box{
  height: 450px;
}
.content{
  width: 70%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.third_box p{
  font-style: normal;
  font-size: 18px;
  line-height: 1.4em;
  width: 100%;
}
.third_box h2{
  color:#76CDD8;
}
.btn{
  align-self: flex-end;
  cursor: pointer;
  background-color: #019999;
  border: none;
  padding: 1.5em 3.8em;
  color: white;
}
a{
  color:white;
  text-decoration: none;
}
.box_wrapper{
  background: url(../img/image-04.jpg) center;
  background-size: 95% 75%;
  align-items: stretch;
  width: 50%;
  height: 100%;
}
.fourth_box{
  -webkit-mask:radial-gradient(circle 150px,transparent 98%,#fff 100%);
  mask:radial-gradient(circle 150px,transparent 98%,#fff 100%);
  background-color: #76CDD8;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #fff;
  padding-bottom: 50px;
  font-size: 14px;
}
.fifth_box{
  height:400px;
  background: url("../img/image-01.jpg") center;
  background-size: 150%;
}
.six_box{
  width: 70%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.six_box button{
  align-self: center;
}
.six_box span{
  color: #76CDD8;
}