body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: #F4F4F4;
  color: #666666;
}
*{
  margin: 0;
  padding: 0;
}
.container_wrap{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* ------------------------------FIRST SECTION---------------------------------------------------- */
.first_section_wrap{
  display: flex;
  flex-wrap: wrap;
}
.box{
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.first_box {
  font-size: 2.6em;
  font-weight: lighter;
  color: #fff;
  background-color: #76CDD8;
}
.second_box p{
  font-style: italic;
  font-size: 20px;
  line-height: 2em;
  width: 70%;
}
.third_box{
  height: 450px;
}
.content{
  width: 70%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.third_box p{
  font-style: normal;
  font-size: 18px;
  line-height: 1.4em;
  width: 100%;
}
.third_box h2{
  color:#76CDD8;
}
.btn{
  align-self: flex-end;
  cursor: pointer;
  background-color: #019999;
  border: none;
  padding: 1.5em 3.8em;
  color: white;
}
a{
  color:white;
  text-decoration: none;
}
.box_wrapper{
  background: url(../img/image-04.jpg) center;
  background-size: 95% 75%;
  align-items: stretch;
  width: 50%;
  height: 100%;
}
.fourth_box{
  -webkit-mask:radial-gradient(circle 150px,transparent 98%,#fff 100%);
  mask:radial-gradient(circle 150px,transparent 98%,#fff 100%);
  background-color: #76CDD8;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #fff;
  padding-bottom: 50px;
  font-size: 14px;
}
.fifth_box{
  height:400px;
  background: url(../img/image-01.jpg) center;
  background-size: 150%;
}
.six_box{
  width: 70%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.six_box button{
  align-self: center;
}
.six_box span{
  color: #76CDD8;
}
/* ------------------------------SECOND SECTION---------------------------------------------------- */
.section_wrap{
  margin-top: 30px;
  background-color: #fff;
  height: 580px;
  display: flex;
}
.section_content{
  width: 65%;
  height: 100%; 
}
.second_section_content_box{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.second_section_content_box h2{
  color:#76CDD8;
}
.second_section_content_box p{
  margin-top: 25px;
  font-style: normal;
  font-size: 18px;
}
.section_image{
  width: 35%;
  height: 580px;
}
.second_section_image{
  background: url(../img/image-02.jpg) center/cover;
}
/* ------------------------------THIRD SECTION---------------------------------------------------- */
.third_section_image{
  background: url(../img/image-03.jpg) center/cover;
}
.third_section_content_box{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.prices_box{
  border:1px solid #019999;
  width: 46%;
  height: 500px;
}
.header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 120px;
  color: #fff;
  background-color: #019999;
}
.header h2{
font-weight: normal;
}
.prices_box_content{
  display: flex;
  justify-content: flex-start;
}
.prices_box_content p{
  margin-top: 30px;
}
.prices_box_content button{
  margin-top: 30px;
}
/* ------------------------------LAST SECTION---------------------------------------------------- */
.last_section_wrap{
  position: static;
  margin-top: 30px;
}
.last_section_header{
  height: 180px;
  background-color: #23D4D4;
}
.last_section_middle{
  height: 400px;
}
.last_section_footer{
  height: 260px;
  background-color: #019999;
}
.application_form{
  position:relative;
  width: 73%;
  margin-left: auto;
  margin-right: auto;
}
.aplication_form_header{
  height: 120px;
  color:#fff;
  display: flex;
  align-items: center;
}
.aplication_form_main{
  background-color: #fff;
  height: 510px;
}
.aplication_form_footer{
  color:#fff;
}