body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: #F4F4F4;
  color: #666666;
}
*{
  margin: 0;
  padding: 0;
}
.container_wrap{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* ------------------------------FIRST SECTION---------------------------------------------------- */
.first_section_wrap{
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.box{
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.first_box {
  font-size: 2.6em;
  font-weight: lighter;
  color: #fff;
  background-color: #76CDD8;
}
.second_box:hover,
.third_box:hover,
.six_box:hover{
  color:#76CDD8;
}
.second_box:hover::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  border: 40px solid transparent;
  border-top: 40px solid #76cdd8;
  border-right: 40px solid #76cdd8;
  box-sizing: border-box;
}
.third_box:hover::after{
  content: '';
  position: absolute;
  top: 400px;
  left: 0;
  width: 80px;
  height: 80px;
  border: 40px solid transparent;
  border-top: 40px solid #76cdd8;
  border-left: 40px solid #76cdd8;
  box-sizing: border-box;
}
.second_box p{
  font-style: italic;
  font-size: 20px;
  line-height: 2em;
  width: 70%;
}
.third_box{
  height: 450px;
}
.content{
  width: 70%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.third_box p{
  font-style: normal;
  font-size: 18px;
  line-height: 1.4em;
  width: 100%;
}
.third_box h2{
  color:#76CDD8;
}
.btn{
  align-self: flex-end;
  cursor: pointer;
  background-color: #019999;
  border: none;
  padding: 1.5em 3.8em;
  color: white;
}
.btn:hover{
  background-color: #76cdd8;
}
a{
  color:white;
  text-decoration: none;
}
.box_wrapper{
  background: url(../img/image-04.jpg) center;
  background-size: 95% 75%;
  align-items: stretch;
  width: 50%;
  height: 100%;
}
.fourth_box{
  -webkit-mask:radial-gradient(circle 150px,transparent 98%,#fff 100%);
  mask:radial-gradient(circle 150px,transparent 98%,#fff 100%);
  background-color: #76CDD8;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #fff;
  padding-bottom: 50px;
  font-size: 14px;
}
.fifth_box {
  display: block;
}
.fifth_box img,
.section_image img {
  width: 100%;
  height: 100%;
}
.fifth_box img:hover{
  transform: scale(1.1);
}
.six_box{
  width: 70%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.six_box:hover::after{
  content: '';
  position: absolute;
  top: 850px;
  right: 0;
  width: 80px;
  height: 80px;
  border: 40px solid transparent;
  border-top: 40px solid #76cdd8;
  border-right: 40px solid #76cdd8;
  box-sizing: border-box;
}
.six_box button{
  align-self: center;
}
.six_box span{
  color: #76CDD8;
}
/* ------------------------------SECOND SECTION---------------------------------------------------- */
.section_wrap{
  margin-top: 30px;
  background-color: #fff;
  height: 580px;
  display: flex;
}
.section_content{
  width: 65%;
  height: 100%; 
}
.second_section_content_box{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.second_section_content_box h2{
  color:#76CDD8;
}
.second_section_content_box p{
  margin-top: 25px;
  font-style: normal;
  font-size: 18px;
}
.section_image{
  width: 35%;
  height: 580px;
  display: block;
}
/* ------------------------------THIRD SECTION---------------------------------------------------- */
.third_section_content_box{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.prices_box{
  border:1px solid #019999;
  width: 46%;
  height: 500px;
}
.header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 120px;
  color: #fff;
  background-color: #019999;
}
.header h2{
font-weight: normal;
}
.prices_box_content{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 70%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.prices_box_content p{
  margin-top: 30px;
}
.prices_box_content button{
  margin-top: 30px;
  align-self: center;
}
/* ------------------------------APPLICATION SECTION---------------------------------------------------- */
.last_section_wrap{
  position: static;
  margin-top: 30px;
}
.last_section_header{
  height: 180px;
  background-color: #23D4D4;
}
.last_section_middle{
  height: 400px;
}
.last_section_footer{
  height: 260px;
  background-color: #019999;
}
.application_form{
  position:relative;
  width: 73%;
  margin-left: auto;
  margin-right: auto;
}
.aplication_form_header{
  height: 120px;
  color:#fff;
  display: flex;
  align-items: center;
}
.aplication_form_wrap{
  background-color: #fff;
  height: 510px;
}
.aplication_form_footer{
  color:#fff;
}
.aplication_form_main{
  height: 380px;
  display: flex;
  align-items: center;
}
.inputs_left{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction:column;
  align-items: flex-end;
  justify-content: center;
}
.inputs_right{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.text_box{
  height: 50px;
  width: 80%;
  font-size: 1em;
  margin-bottom: 15px;
  margin-right: 10px;
}
.submit{
  display: block;
  margin-right: auto;
  margin-left: auto;
 }
 textarea{
   margin-top: -40px;
   margin-left: 10px;
   font-size: 1em;
 }
 .aplication_form_footer{
   height: 200px;
   display: flex;
   align-items: center;
   justify-content: space-around;
 }
 .footer_block{
   width:25%;
 }
 .footer_block h3{
  font-weight: bold;
  font-size: 1.2em;
 }
 .footer{
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
 }